/* You can add global styles to this file, and also import other style files */
/* body{
    background-color: rgb(146, 190, 248);
} */
/* 
body {
    background-image: url('/360_F_667495853_ioWBMm32u7UFvcYz0Sb3KrGj8YjnfrQA.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

@media screen and (max-width:450px){
    body {
        background-image: url('/360_F_667495853_ioWBMm32u7UFvcYz0Sb3KrGj8YjnfrQA.jpg');
        background-repeat: no-repeat;
        background-size: cover; 
        background-position: center;    }
} */

