<div class="image-container d-flex justify-content-center">
    <img src="SGN_09_16_2024_1726468242599 (1).png" alt="hs" class="spin">
</div>


<div class="cards">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card text-center">
               <h2 class="card-title">
                   Sevas
               </h2>
               <div class="line">
               <p class="card-text">
                   For Your offerings And<br> seva list Click Here
               </p></div>
               <button class="btn btn-primary" routerLink="/sevas"> Click Here</button>
            </div>
        </div>
        <div class="col-6">
            <div class="card text-center">
               <h2 class="card-title">
                   Route Map
               </h2>
               <div class="line">
               <p class="card-text">
                Map of Shree Dattatreya Durgambika Temple
               </p></div>
               <button class="btn btn-primary "> Click Here</button>

            </div>
        </div>
    </div>
</div>
